<div class="profileHeading textCenter">
  <h1 class="text p-3">Address</h1>
</div>
<div class="col-3">
  <button mat-stroked-button (click)="openDialog2()">
    <mat-icon>add</mat-icon>Add
  </button>
</div>
<div class="row m-3" *ngFor="let address of addresses; let i = index">
  <mat-card>
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col">
            <p><b>Address line: </b>{{ address.addressLine }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>City: </b>{{ address.city }}, {{ address.pincode }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>State: </b>{{ address.state }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><b>Country: </b>{{ address.country }}</p>
          </div>
        </div>

        <button
          mat-stroked-button
          (click)="
            openDialog(
              address.addressLine,
              address.city,
              address.pincode,
              address.state,
              address.country,
              address._id
            )
          "
        >
          <mat-icon>edit</mat-icon>Edit
        </button>
      </div>
      <div class="col-3">
        <!-- (click)="del_address(address._id)" -->
        <button
          mat-stroked-button
          (click)="
            openDialogForDelete(
              address.addressLine,
              address.city,
              address.pincode,
              address.state,
              address.country,
              address._id
            )
          "
        >
          <mat-icon>delete</mat-icon>Delete
        </button>
      </div>
    </div>
  </mat-card>
</div>
