<div class="mt-5 pt-5 pb-5 footer">
  
  <div class="container" style="margin-bottom: -3%;">
      <div class="row">
        <div class="col-lg-4 col-xs-12 about-company" style="text-align: center;">
          <h2 style="text-align: center !important;">About Company</h2>
          <p class="text-white-50">
              NeoSOFT Technologies is here at your  quick and easy service for shopping.</p>
          <p>Contact Information</p>
          <p>Email: contact@neosoft.com</p>
          <p>Phone: +91 0000000000</p>
          <p>MUMBAI, INDIA</p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col-lg-4 col-xs-12 links"  style="text-align: center;">
          <h2 class="mt-lg-0 mt-sm-3" style="text-align: center !important;">Information</h2>
            <!-- <ul class="m-0 p-0">
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Nam mauris velit</a></li>
              <li><a href="#">Etiam vitae mauris</a></li>
              <li><a href="#">Fusce scelerisque</a></li>
              <li><a href="#">Sed faucibus</a></li>
              <li><a href="#">Mauris efficitur nulla</a></li>
            </ul> -->

            <p>Terms and Conditions</p>
            <p>Guarantee and Return Policy</p>
            <p>Contact Us</p>
            <p>Privacy Policy</p>
            <p>Locate Us</p>


        </div>
        <div class="col-lg-4 col-xs-12 location" style="text-align: center !important;">
          <h2 class="mt-lg-0 mt-sm-4" style="text-align: center !important;">Location</h2>
          <!-- <p>22, Lorem ipsum dolor, consectetur adipiscing</p> -->
          <!-- <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p> -->
          <!-- <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p> -->

          <p>Signup to get exclusive offer from our </p>
          <p>favourite brands and to be well up in the news.</p>
          <p><input type="text" placeholder="your email..."></p>
          <button class="btn btn-light" style="padding: 3px ; width: 120px;">Subscribe</button>

        </div>
      </div>
      <div class="row mt-4 ">
        <div class="col copyright mx-auto" >
          <br>
          <small class="text-white-50 mt-5" >© Copyright 2021 NeoSOFT Technologies All Rights Reserved.</small>
          <p><small>Designed By Vishal Rindhe</small></p>
        </div>
      </div>
    </div>
    </div>