<div class="mt-5 pt-5 pb-5 footer">
  <div class="container" style="margin-bottom: -3%">
    <div class="row">
      <div class="col-lg-4 col-xs-12 about-company" style="text-align: center">
        <h2 style="text-align: center !important">About Company</h2>
        <p class="text-white-50">
          NeoSOFT Technologies is here at your quick and easy service for
          shopping.
        </p>
        <p>Contact Information</p>
        <p>Email: contact@neosoft.com</p>
        <p>Phone: +91 0000000000</p>
        <p>MUMBAI, INDIA</p>
        <p>
          <a href="#"><i class="fa fa-facebook-square mr-1"></i></a
          ><a href="#"><i class="fa fa-linkedin-square"></i></a>
        </p>
      </div>
      <div class="col-lg-4 col-xs-12 links" style="text-align: center">
        <h2 class="mt-lg-0 mt-sm-3" style="text-align: center !important">
          Information
        </h2>

        <p>
          <a
            style="color: rgba(255, 255, 255, 0.508)"
            href="../../../assets/sustainability-12-04980-v2.pdf"
            download
            >Terms and Conditions</a
          >
        </p>
        <p>Guarantee and Return Policy</p>
        <p>Contact Us</p>
        <p>Privacy Policy</p>
        <!-- useed iframe to loacte neosoft tech dadar office -->
        <p>
          <a
            style="color: rgba(255, 255, 255, 0.508)"
            href="https://www.google.com/maps/place/NeoSOFT+Technologies/@19.0243701,72.8420869,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7ceda0a915093:0x781b6db9b065f3c0!8m2!3d19.024365!4d72.844281"
            >Locate Us</a
          >
        </p>
      </div>
      <div
        class="col-lg-4 col-xs-12 location"
        style="text-align: center !important"
      >
        <h2 class="mt-lg-0 mt-sm-4" style="text-align: center !important">
          Location
        </h2>

        <p>Signup to get exclusive offer from our</p>
        <p>favourite brands and to be well up in the news.</p>
        <p style="font-size: 13px">
          <mat-form-field appearance="outline">
            <!-- email input field -->
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              required
            />
            <mat-icon matSuffix>email</mat-icon>

            <mat-error *ngIf="email.invalid">{{
              getErrorMessage()
            }}</mat-error> </mat-form-field
          ><br />
        </p>
        <!-- subcribe button will disabled untill email is not entered with validation -->

        <button
          class="btn btn-light"
          style="padding: 3px; width: 120px"
          [routerLink]="['/thank-you']"
          routerLinkActive="router-link-active"
          [disabled]="email.invalid"
        >
          Subscribe
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col copyright mx-auto">
        <br />
        <small class="text-white-50 mt-5"
          >© Copyright 2021 NeoSOFT Technologies All Rights Reserved.</small
        >
        <p><small>Designed By Vishal Rindhe</small></p>
      </div>
    </div>
  </div>
</div>
