<div class="container">
  <mat-card class="mt-5">
    <!--  -->
    <!-- <div *ngIf="_id == item.id; else elseBlock"> -->
    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-sm-12 mb-4">
        <pinch-zoom>
          <img src="{{ mainImage }}" class="oopsImg" />
        </pinch-zoom>
        <br />
        <!-- <lib-ngx-image-zoom
                [thumbImage]=item.product_image
                [fullImage]=item.product_image
                zoomMode="hover"> 
                <img src= {{item.product_image}}  class="img-fluid">
                </lib-ngx-image-zoom> -->
      <div class="row textCenter" >
        <div class="col">
          <img src="{{productDetail.mainImage}}" class="thumbnailImg" alt="" (click)="onMainImgClick()">
        </div>
        <div class="col" *ngFor="let image of productDetail.subImages; let i=index">
          <img src="{{image}}" class="thumbnailImg" id={{i}} alt="" (click)="onImgClick(i)">
        </div>
        <!-- <div class="col">
          <img src="{{productDetail.mainImage}}" class="thumbnailImg" alt="">
        </div>
        <div class="col">
          <img src="{{productDetail.mainImage}}" class="thumbnailImg" alt="" (click)="onImgClick(src.path)">
        </div> -->
        
      </div>
      </div>

      <div class="col-lg-4 offset-lg-1 col-sm">
        <h1 class="col offset-sm-5 headFont">
          <b> {{ productDetail.name }} </b>
        </h1>

        <div class="col offset-sm-0">
          <!-- <star-rating  [value]="productDetail.avgRating"   checkedcolor="#ffcc00" uncheckedcolor="#ffff99" size="24px" [readonly]='true' (rate)="onRate($event)"></star-rating> -->
          <star-rating
            [value]= "productDetail.avgRating"
            checkedcolor="#ffcc00"
            uncheckedcolor="#ffff99"
            size="24px"
          ></star-rating>
        </div>
        <hr />
        <div class="col col-sm-0">
          <div class="mb-2">
            <span>Price:</span
            ><span>&nbsp; &#8377; {{ productDetail.price }} </span>
          </div>
          <!-- <p> -->
          <div>
            <div class="mb-2">
              <span>Color: &nbsp;</span>
              <!-- <span class="colorBox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> -->
              <button
                mat-button
                [style.background-color]="productDetail.color.name"
                disabled
                title="{{ productDetail.color.name }}"
              >
                &nbsp;
              </button>
            </div>
            <div class="mb-2">
              <span> Share:</span>
              <button mat-button style="background: none">
                <mat-icon>share</mat-icon>
              </button>
            </div>
            <div class="center mb-3">
              <button
                mat-fab
                shareButton="facebook"
                #fbBtn="shareButton"
                style="background-color: #4166b1"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i></button
              >&nbsp;
              <button
                mat-fab
                shareButton="twitter"
                #twtBtn="shareButton"
                style="background-color: #00acee"
              >
                <i class="fa fa-twitter" aria-hidden="true"></i></button
              >&nbsp;
              <!-- <button mat-fab shareButton="linkedin"
                                        #lkBtn="shareButton"
                                        [style.backgroundColor]="lkBtn?.color">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </button> -->
              <button
                mat-fab
                shareButton="telegram"
                #telBtn="shareButton"
                style="background-color: #0088cc"
              >
                <i
                  class="fa fa-telegram"
                  aria-hidden="true"
                  size="xl"
                ></i></button
              >&nbsp;
              <button
                mat-fab
                shareButton="whatsapp"
                #whatsBtn="shareButton"
                style="background-color: #24d165"
              >
                <i class="fa fa-whatsapp" aria-hidden="true"></i></button
              >&nbsp;

              <!-- <button mat-fab shareButton="copy"
                                    #msgBtn="shareButton"
                                    [style.backgroundColor]="msgBtn?.color">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button> -->

              <button
                mat-fab
                shareButton="copy"
                #msgBtn="shareButton"
                style="background-color: #607d8b"
              >
                <i class="fa fa-clipboard" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <!-- </p> -->
        </div>
        <div class="row">
          <div class="col center">
            <button
              class="addToCartButton"
              (click)="addToCart()"
              mat-raised-button
            >
              Add to Cart</button
            >&nbsp;
            <!-- </div> -->
            <!-- <div class="col"> -->
            <button class="rateProductButton" mat-raised-button>
              Rate Product
            </button>
          </div>
        </div>
      </div>
    </div>

    <mat-tab-group
      class="mt-5"
      dynamicHeight
      animationDuration="2000ms"
      mat-align-tabs="center"
      backgroundColor="accent"
    >
      <mat-tab label="Description">
        <div class="example-small-box mat-elevation-z4 m-1 p-2">
          <ul>
            <li>{{ productDetail.category.name }}</li>
            <li>{{ productDetail.color.name }}</li>
            <li>{{ productDetail.description }}</li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Features">
        <div class="example-large-box mat-elevation-z4 center m-1 p-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Type</th>
                <td>{{ productDetail.category.name }}</td>
              </tr>
              <tr>
                <th scope="row">Color</th>
                <td>{{ productDetail.color.name }}</td>
              </tr>
              <!-- <tr>
                        <th scope="row">Produced By</th>
                      <td>{{productDetail.product_producer}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Material Used</th>
                          <td>{{item.product_material}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Dimensions</th>
                              <td>{{item.product_dimension}}</td>
                              </tr> -->
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- </div> -->
    <ng-template #elseBlock>
      <h1 class="textCenter">
        <img class="oopsImg" src="../../../assets/images/no-product.png" />
        <p class="oops">Oops!</p>
        <span class="oopstext">Product Category Not Available...</span>
      </h1>
    </ng-template>
  </mat-card>
  <!--  -->

  <!--  -->
</div>
