<div class="container">
  <mat-card class="my-5">
    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-sm-* mb-4 textCenter">
        <!-- main image of product with zoom in on hover functionality-->
        <img
          src="{{ mainImage }}"
          class="oopsImg"
          redZoom="{{ mainImage }}"
          redZoomClass="red-zoom--style--overlay"
        />
        <br />

        <!-- thumbnail images of product -->
        <div class="row textCenter">
          <div class="col">
            <mat-button-toggle-group
              color="primary textCenter"
              #group="matButtonToggleGroup"
            >
              <mat-button-toggle
                color="primary"
                value="center"
                aria-label="Text align center"
              >
                <div class="col py-3">
                  <img
                    src="{{ productDetail.mainImage }}"
                    class="thumbnailImg"
                    alt=""
                    (click)="onMainImgClick()"
                  />
                </div>
              </mat-button-toggle>
              <mat-button-toggle
                class="py-3 px-2"
                value="right"
                aria-label="Text align right"
                *ngFor="let image of productDetail?.subImages; let i = index"
              >
                <img
                  src="{{ image }}"
                  class="thumbnailImg"
                  id="{{ i }}"
                  alt=""
                  (click)="onImgClick(i)"
                />
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>

      <div class="col-lg-4 offset-lg-1 col-sm-*">
        <!-- product name -->
        <h1 class="col offset-sm-5 headFont">
          <b> {{ productDetail?.name }} </b>
        </h1>

        <div class="col offset-sm-0">
          <!-- avberage product rating -->
          <star-rating
            [value]="productDetail?.avgRating"
            checkedcolor="#ffcc00"
            uncheckedcolor="#ffff99"
            size="24px"
          ></star-rating>
        </div>
        <hr />
        <div class="col col-sm-0">
          <div class="mb-2">
            <span>Price:</span
            ><span>&nbsp; &#8377; {{ productDetail?.price }} </span>
          </div>
          <div>
            <div class="mb-2">
              <span>Color: &nbsp;</span>
              <!-- product color name -->
              <button
                mat-button
                [style.background-color]="productDetail?.color?.name"
                disabled
                title="{{ productDetail?.color?.name }}"
              >
                &nbsp;
              </button>
            </div>
            <div class="mb-2">
              <!-- social media share buttons -->
              <span> Share:</span>
              <button mat-button style="background: none">
                <mat-icon>share</mat-icon>
              </button>
            </div>
            <div class="center mb-3">
              <button
                mat-fab
                shareButton="facebook"
                #fbBtn="shareButton"
                style="background-color: #4166b1"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i></button
              >&nbsp;
              <button
                mat-fab
                shareButton="twitter"
                #twtBtn="shareButton"
                style="background-color: #00acee"
              >
                <i class="fa fa-twitter" aria-hidden="true"></i></button
              >&nbsp;

              <button
                mat-fab
                shareButton="telegram"
                #telBtn="shareButton"
                style="background-color: #0088cc"
              >
                <i
                  class="fa fa-telegram"
                  aria-hidden="true"
                  size="xl"
                ></i></button
              >&nbsp;
              <button
                mat-fab
                shareButton="whatsapp"
                #whatsBtn="shareButton"
                style="background-color: #24d165"
              >
                <i class="fa fa-whatsapp" aria-hidden="true"></i></button
              >&nbsp;

              <button
                mat-fab
                shareButton="copy"
                #msgBtn="shareButton"
                style="background-color: #607d8b"
              >
                <i class="fa fa-clipboard" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <!-- </p> -->
        </div>
        <div class="row">
          <div class="col center">
            <!-- add to cart button if product add successfully then green snackbar will display or if any error occur then red snack bar will be display  -->
            <button
              class="addToCartButton"
              (click)="addToCart(productDetail.id)"
              mat-raised-button
            >
              Add to Cart</button
            >&nbsp;

            <!-- rate to product by user give star rating -->
            <button
              class="rateProductButton"
              mat-raised-button
              (click)="openDialog()"
            >
              Rate Product
            </button>
          </div>
        </div>
      </div>
    </div>

    <mat-tab-group
      class="mt-5"
      dynamicHeight
      animationDuration="2000ms"
      mat-align-tabs="center"
      backgroundColor="accent"
    >
      <!-- product description -->
      <mat-tab label="Description">
        <div class="example-small-box mat-elevation-z4 m-1 p-2">
          <ul>
            <li>{{ productDetail?.category?.name }}</li>
            <li>{{ productDetail?.color?.name }}</li>
            <li>{{ productDetail?.description }}</li>
          </ul>
        </div>
      </mat-tab>

      <!-- features of product -->
      <mat-tab label="Features">
        <div class="example-large-box mat-elevation-z4 center m-1 p-2">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Type</th>
                <td>{{ productDetail?.category?.name }}</td>
              </tr>
              <tr>
                <th scope="row">Color</th>
                <td>{{ productDetail?.color?.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
    <ng-template #elseBlock>
      <h1 class="textCenter">
        <img class="oopsImg" src="../../../assets/images/no-product.png" />
        <p class="oops">Oops!</p>
        <span class="oopstext">Product Category Not Available...</span>
      </h1>
    </ng-template>
  </mat-card>
</div>
