<!-- <div mat-dialog-content> -->
<mat-card>
  <div class="container">
    <div class="row" style="text-align: center">
      <div class="profileHeading p-2 m-2">
        <h1 class="text">Change Password</h1>
      </div>
      <!-- City -->
      <mat-form-field  hidden>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="col-*">
        <mat-form-field appearance="outline" class="example-full-width">
          <input
            [formControl]="password"
            placeholder="Old Password"
            [type]="hide ? 'password' : 'text'"
            matInput
            
          />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">
            Old Password required
          </mat-error>
          <mat-error *ngIf="password.hasError('pattern')">
            Old password must be 8-20 alphnumeric characters.
          </mat-error>
        </mat-form-field>
      </div>
      <br />
      <div class="col-*">
        <mat-form-field appearance="outline" class="example-full-width">
          <input
            [formControl]="newPassword"
            placeholder="New Password"
            [type]="hide1 ? 'password' : 'text'"
            matInput
          />
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="newPassword.hasError('required')">
            Password required
          </mat-error>
          <mat-error *ngIf="newPassword.hasError('pattern')">
            Password must be 8-20 alphnumeric characters.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-*">
        <mat-form-field appearance="outline" class="example-full-width">
          <input
            [formControl]="confirmPassword"
            placeholder="Confirm Password " 
            [type]="hide2 ? 'password' : 'text'"
            matInput
          />
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword.hasError('required')">
            New Password required
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('pattern')">
           New Password must be 8-20 alphnumeric characters.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->

    <!-- Show this demonstrate to mentor that value is not visible in matInput -->
    <div class="row">
      <div class="col">
        <div class="textCenter">
          <button
            mat-raised-button
            color="primary"
            class="m-2"
            [disabled]="
              password.invalid || newPassword.invalid || confirmPassword.invalid
            "
            (click)="onSubmit(password.value, newPassword.value)"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
