<mat-card class="example-card col-12">
    <div class="profileHeading">
    <h1 class="text">Change Password</h1>
    </div>
<form [formGroup]="form" (ngSubmit)="submit()">
  
    <!-- Old Password -->
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Enter Your Old Password" formControlName="password">
        <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="checkError('password', 'pattern')">Wrong Password</mat-error>
      </mat-form-field>
    </p>

  <!-- Password -->
  <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter Your New password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="new_password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="checkError('new_password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="checkError('new_password', 'minlength')">Last Name should be more than 8 characters
        </mat-error>
        <mat-error *ngIf="checkError('new_password', 'maxlength')">Last Name should be less than 14 characters
        </mat-error>
        <mat-error *ngIf="checkError('new_password', 'pattern')">Only Alphanumeric is allowed</mat-error>
        </mat-form-field>
    </p>

    <!-- Confirm Password -->
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password" name="confirm_password" formControlName="confirm_password">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" ConfirmPasswordValidator="password" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="checkError('confirm_password', 'required')">Please Confirm Password</mat-error>
        <mat-error *ngIf="checkError('confirm_password', 'minlength')">Last Name should be more than 8
          characters</mat-error>
        <mat-error *ngIf="checkError('confirm_password', 'maxlength')">Last Name should be less than 14
          characters</mat-error>
        <mat-error *ngIf="checkError('confirm_password', 'pattern')">Please enter correct password</mat-error>
      </mat-form-field>
    </p>              

    <!-- Submit -->
    <div class="button">
      <button type="submit" mat-raised-button color="accent" (click)="submit()">Submit</button>
    </div><br>      

  </form>
  </mat-card>