// Outer BOX
:host {
    display: flex;
    justify-content: left;
    margin: auto 0px;
  }
// Card Layout
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: left;
  }
  // Button Positions
.button {
    display: flex;
    justify-content: center;
  }
.profileHeading{
    background-color: lightsteelblue;
}  

::ng-deep .redNoMatch
{
    font-weight: bold;
  color:white;
  background: #fc1201 !important;
}

::ng-deep .greenYesMatch
{
    font-weight: bold;
  color:white;
  background: rgb(22, 181, 22) !important;
}
