<div class="container mt-5" style="align-items: center">
  <div class="row">
    <span class="col-* textCenter headFont">My Acount</span>
    <div class="col-sm-12 col-lg-5  mt-5 ">
      <mat-card class="example-card textCenter"> 
        <img class="profilePic mb-2" src="../../../assets/images/profile_pic.jpg"><br>
        <mat-label class="nameFont m-3"> {{userData.customer_proile.first_name}}&nbsp;{{userData.customer_proile.last_name}} </mat-label><br>
        <button class="button m-1" mat-stroked-button color="basic"><mat-icon>data_usage</mat-icon>Order</button><br>
        <button class="button m-1" mat-stroked-button color="basic"><mat-icon>person</mat-icon>Profile</button><br>
        <button class="button m-1" mat-stroked-button color="basic"><mat-icon>format_align_justify</mat-icon>Address</button><br>
        <button class="button m-1" mat-stroked-button color="basic"><mat-icon>transform</mat-icon>Change Password</button><br>

    </mat-card>
    </div>
    <div class="col-sm-12 col-lg-7 mt-5">
        <mat-card class="example-card"> 
            <div class="profileHeading p-2">
                <h1 class="textCenter">Profile</h1>
            </div>
            <hr>
          <div class=" m-3 p-1 profileContentFont" >
              <span class="boldFont mr-5">First Name</span><span > {{userData.customer_proile.first_name}} </span>
          </div>
          <div class=" m-3 p-1 profileContentFont" >
            <span class="boldFont mr-5">Last Name</span><span >{{userData.customer_proile.last_name}}</span>
        </div>
        <div class=" m-3 p-1 profileContentFont" >
            <span class="boldFont mr-5">Gender</span><span >{{userData.customer_proile.gender}}</span>
        </div>
        <div class=" m-3 p-1 profileContentFont" >
            <span class="boldFont mr-5">Date of Birth</span><span >{{userData.customer_proile.dob}}</span>
        </div>
        <div class=" m-3 p-1 profileContentFont" >
            <span class="boldFont mr-5">Mobile Number</span><span >{{userData.customer_proile.phone_no}}</span>
        </div>
        <div class=" m-3 p-1 profileContentFont" >
            <span class="boldFont mr-5">Email</span><span >{{userData.customer_proile.email}}</span>
        </div>
        <table mat-table [dataSource]="dataS" class="mat-elevation-z8">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.field}} </td>
            </ng-container>
          
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.data}} </td>
            </ng-container>
          
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          
          </table>
        
          
        <hr>

        <button mat-stroked-button><mat-icon>edit</mat-icon>Edit</button>
              
              
      </mat-card>
      </div>
  </div>
</div>
