<div class="container" style="align-items: center">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <mat-card class="example-card">
        <div class="profileHeading p-2">
          <h1 class="textCenter">Profile</h1>
        </div>
        <hr />
        <table class="table">
          <tbody>
            <tr>
              <td class="boldFont">First Name</td>
              <!-- diplay firstName -->
              <td>{{ userData.firstName | titlecase }}</td>
            </tr>
            <tr>
              <td class="boldFont">Last Name</td>
              <!-- display Last name -->
              <td>{{ userData.lastName | titlecase }}</td>
            </tr>
            <tr>
              <td class="boldFont">Gender</td>
              <!-- display gender -->
              <td>{{ userData.gender }}</td>
            </tr>
            <!-- <tr>
                    <td class="boldFont">Date Of Birth</td>
                    <td>{{userData.customer_proile.dob | date}}</td>
                  </tr> -->
            <tr>
              <td class="boldFont">Email</td>
              <!-- display email -->
              <td>{{ userData.email }}</td>
            </tr>
            <tr>
              <td class="boldFont">Phone</td>
              <!-- display phone number -->
              <td>{{ userData.mobile }}</td>
            </tr>
          </tbody>
        </table>

        <hr />
        <!-- dialog box for edit profile details -->
        <button mat-stroked-button (click)="openDialog()">
          <mat-icon>edit</mat-icon>Edit
        </button>
      </mat-card>
    </div>
  </div>
</div>
