.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  ::ng-deep .redNoMatch
  {
      font-weight: bold;
    color:white;
    background: #fc1201 !important;
  }
  
  ::ng-deep .greenYesMatch
  {
      font-weight: bold;
    color:white;
    background: rgb(22, 181, 22) !important;
  }

  .box{
    background-color: #fff;
    // box-shadow: 2px 2px 10px #246756;
    overflow: hidden;
    // padding: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
  }