
 <div class="container  " style="align-items: center;" >
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4 card-margin">
        <mat-card class="example-card">
            <!-- <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
            <img mat-card-image src="../../../assets/images/couch_2_green.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <h2 style="text-align: center;">
               Abcd couch name
            </h2>
            <h3 style="text-align: center;">
                &#8377; 5000
            </h3>

            <div style="text-align:center">
                <h1>
                
                </h1>
                <star-rating  [value]="4.7"   checkedcolor="gold" uncheckedcolor="black" size="24px" [readonly]='true' (rate)="onRate($event)"></star-rating>
              </div>
            </mat-card-content>
            <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>
        
      </div>
    </div>
</div>
