<div class="container" style="text-align: center">
  <div class="row">
    <div class="col">
      <h2>Rate "{{ data.name }}"</h2>
      <img class="img" src="{{ data.img }}" alt="" />
    </div>
  </div>

  <div class="row m-2 p-2">
    <div class="col">
      <div style="text-align: center">
        <star-rating
          [value]="5"
          [totalstars]="5"
          checkedcolor="#ffcc00"
          uncheckedcolor=""
          size="35px"
          [readonly]="false"
          (rate)="onRate($event)"
        ></star-rating>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col" style="text-align: center">
      <!-- <div mat-dialog-actions style="text-align: center"> -->
        <button class="m-2" mat-button [mat-dialog-close] >Cancel</button>
        <button class="m-2" mat-raised-button color="primary" [mat-dialog-close] >
          Submit
        </button>
      <!-- </div> -->
    </div>
  </div>
</div>
