<div class="container mt-4">
    <div class="row">
      <div class="col-sm-12 col-lg-* card-margin">
        <mat-card>
          <!-- NeoStore Branding -->
          <mat-card-title><span class="neo">Neo</span><span class="scrum">Store</span></mat-card-title>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
  
              <!-- Verification Code -->
              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="Verification Code" formControlName="v_code">
                  <mat-error *ngIf="checkError('v_code', 'required')">Verification Code is required</mat-error>
                  <mat-error *ngIf="checkError('v_code', 'pattern')">Invalid Code</mat-error>
                </mat-form-field>
              </p>

            <!-- Password -->
            <p>
                <mat-form-field appearance="fill">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
                  <mat-error *ngIf="checkError('password', 'minlength')">Last Name should be more than 8 characters
                  </mat-error>
                  <mat-error *ngIf="checkError('password', 'maxlength')">Last Name should be less than 14 characters
                  </mat-error>
                  <mat-error *ngIf="checkError('password', 'pattern')">Only Alphanumeric is allowed</mat-error>
                  </mat-form-field>
              </p>
  
              <!-- Confirm Password -->
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password" name="confirm_password" formControlName="confirm_password">
                  <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" ConfirmPasswordValidator="password" [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="checkError('confirm_password', 'required')">Please Confirm Password</mat-error>
                  <mat-error *ngIf="checkError('confirm_password', 'minlength')">Last Name should be more than 8
                    characters</mat-error>
                  <mat-error *ngIf="checkError('confirm_password', 'maxlength')">Last Name should be less than 14
                    characters</mat-error>
                  <mat-error *ngIf="checkError('confirm_password', 'pattern')">Please enter correct password</mat-error>
                </mat-form-field>
              </p>              

              <!-- Submit -->
              <div class="button">
                <button type="submit" mat-raised-button color="accent" (click)="submit()">Submit</button>
              </div><br>      
  
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>