.productImage{
    max-height: 10vh;
    max-width: 10vw;
}

.button{
    width: 40%;
}
.proceedToPayButton{
    width: 90%;
}

.mat-mini-fab{
    background-color: gray;
}
.productName{
    font-weight: bold;
}

.creator{
    font-style: oblique;
}

.stock{
 color: green;
 font-weight: bold;
}

.reviewOrderFont{
    font-size: 2vw;
}