<div class="example-container">
   
</div>

<div class="container  mt-5" style="align-items: center;" >
  <div class="row">
    <div class="col-sm-12 col-lg-*  mb-4 " style="text-align: center;">
      <mat-card class="example-card">
        <p class="mb-2 mt-3">
          <!-- NeoStore heading -->
          <span style="color: black; font-size: 6vh;">Neo</span>
          <span style="color: red; font-size: 6vh;">Store</span>
          </p>
          <!-- registration heading -->
        <h1>Registration</h1>

        <!-- first Name -->
        <mat-form-field >
          <mat-label>First Name</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="name" required>
          <mat-icon  matSuffix>text_fields</mat-icon>

          <mat-error *ngIf="name.invalid">{{getErrorMessageForName()}}</mat-error>
        </mat-form-field><br>

        <!-- last Name -->
        <mat-form-field >
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="lastName" required>
          <mat-icon  matSuffix>text_fields</mat-icon>

          <mat-error *ngIf="lastName.invalid">{{getErrorMessageForLastName()}}</mat-error>
        </mat-form-field><br>

        <!-- email field -->
          <mat-form-field >
            <mat-label>Enter your  email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-icon  matSuffix>email</mat-icon>

            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field><br>
        
        <!-- password field -->
      <mat-form-field  >
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>

      <!-- confirm password field -->
      <mat-form-field  >
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>


      
      </mat-card>
    </div>
  </div>
</div>
