<div *ngFor="let orders of order_list;let i=index;">
    <mat-card class="mb-3">
<div class="row">
    <h3>{{orders._id}}</h3>
</div>
<div *ngFor="let product_list of orders.product_details;let i=index;">
<div class="row">
    <h5>{{product_list.total_cartCost}}</h5>
 </div>   
<div *ngFor="let product_list2 of product_list.product_details;let i=index;">
<div class="row">
    <h5>{{product_list2.product_image}}</h5>
</div>
</div>    
</div>
<div class="row">
    <button mat-button>Download Invoice</button>
</div>

    </mat-card>
</div>