/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

@import '~ngx-sharebuttons/themes/default/default-theme';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.textCenter{
text-align: center;
}

::ng-deep .redNoMatch
{
    font-weight: bold;
  color:white;
  background: #fc1201 !important;
}

::ng-deep .greenYesMatch
{
    font-weight: bold;
  color:white;
  background: rgb(22, 181, 22) !important;
}

.profileHeading{
  // background-color: burlywood;
  background-image: radial-gradient(circle, #d9eced, #dbecf0, #deedf2, #e1edf4, #e5edf5, #e4edf5, #e4edf5, #e3edf5, #deedf4, #d8edf2, #d3ecef, #d0ecea);
}