.productImage{
    max-height: 9vh;
    max-width: 9vw;
}
.reviewOrderFont{
    font-size: 2vw;
}
.subTotalFont{
    font-size: large;
}
.OrderFont{
    font-size: 3vw;
    // font-weight: bold;
}

.submitButton{
    width: 40vw;
    text-align: center;
}