.productImage{
    max-height: 9vh;
    max-width: 9vw;
}
.reviewOrderFont{
    font-size: x-large;
}
.subTotalFont{
    font-size: large;
}
.OrderFont{
    font-size: xx-large;
    // font-weight: bold;
}

.submitButton{
    width: 40vw;
    text-align: center;
}