// Outer BOX
:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
// Card Layout
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  // Button Positions
.button {
    display: flex;
    justify-content: center;
  }
  
  //  NeoStore Branding 
    .neo{
      color: black;
      font-weight: 700;
  }
  .scrum{
      color: red;
      font-weight: 700;
  }